relre:ArduinoPresentation/slide[0-9][0-9].bak[0-9].ans
glob:FunctionGenerator/Firmware/default/*
glob:WirelessScale/Firmware/default/*
glob:DummyLoad/Firmware/default/*
glob:DummyLoad/Firmware/output/*
glob:WirelessScale/Firmware/output/*
glob:*.user
glob:*/bin/*
glob:*/obj/*
glob:*.suo
glob:*.aws
glob:*.epf
glob:_ReSharper.*
relre:.*\.b\#[0-9]
relre:.*\.s\#[0-9]
relre:.*\.l\#[0-9]
syntax: glob
LEDCube/Firmware/default/*
AirMotorEcu/Firmware/default/*
ATmegaLibC/io.lst
ATmegaLibC/io.o
*.sdf
*.opensdf
WiFiMp3.log
.svn
*/Debug/*
*/Release/*
*.avrsuo
*/Thumbs.db
